<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

    <title>Logs</title>
</head>
<body>
<div class="content p-4">
    <h1 class="mb-4">Log</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row py-2">
                <div class="col-12">
                    <table class="table table-bordered my-2">
                        <thead>
                        <tr>
                            <th scope="col">Log</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr hidden>
                            <td class="text-center" colspan="5">No data</td>
                        </tr>
                        <tr th:each="log : ${logs}">
                            <td th:text="${log}">Log</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>